[submodule "AppServer"]
	path = AppServer
	url = git@github.com:cis-ncbj/app-service-server.git
[submodule "AppGateway"]
	path = AppGateway
	url = git@github.com:cis-ncbj/app-service-gateway.git
[submodule "Apps/AppMultiNest"]
	path = Apps/AppMultiNest
	url = git@github.com:cis-ncbj/app-service-multinest.git
