[submodule "AppServer"]
	path = AppServer
	url = git@code.cis.gov.pl:webservices/appserver.git
[submodule "AppGateway"]
	path = AppGateway
	url = git@code.cis.gov.pl:webservices/appgateway.git
[submodule "Apps/AppMultiNest"]
	path = Apps/AppMultiNest
	url = git@code.cis.gov.pl:webservices/appmultinest.git
