{% extends "layout.html" %}
{% block content %}
<div class="post">
    <h2 class="title">Opis</h2>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
        <p>
<strong><a href="http://ccpforge.cse.rl.ac.uk/gf/project/multinest/">MultiNest
</a></strong> jest narzędziem służącym do
<a href="http://el.us.edu.pl/ekonofizyka/index.php/Statystyka_w_ujęciu_Bayesowskim"
    >wnioskowania Bayesowskiego</a> (<a
    href="http://en.wikipedia.org/wiki/Bayesian_inference"
    >Bayesian inference</a>). Pozwala efektywnie przeszukiwać wielowymiarowe
przestrzenie parametrów z wieloma lokalnymi maksimami. Pozwala to wyznaczać
zarówno prawdopodobieństwo posteriori (<a
    href="http://en.wikipedia.org/wiki/Posterior_probability">posterior
    probability</a>) jak i prawdopodobieństwa marginalne (<a
    href="http://en.wikipedia.org/wiki/Marginal_likelihood">marginal
    likelihood</a>) na podstawie znanych danych, funkcji modelowej oraz funkcji
likelihood. MultiNest jest implementacją wielo-modowego algorytmu próbkowania
zagnieżdżonego (<a
    href="http://en.wikipedia.org/wiki/Nested_sampling_algorithm"
    >nested sampling</a>).
        </p>
    </div>
</div>
<!--
<div style="post_line"></div>
-->
{% endblock %}
