<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : FruityBlue 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120307

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CIŚ MultiNest Webservice</title>
<link href="static/style.css" rel="stylesheet" type="text/css" media="screen" />
<noscript>
    <meta http-equiv="Refresh" id="refresh" content="30"/>
</noscript>
<!--
FirebugLite console.log
<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js#startOpened"></script>
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript src="{{
  url_for('static', filename='update_status.js') }}"></script>
</head>
<body>
<div id="wrapper">
    <div id="splash"></div>
	<div id="wrapper2">
		<div id="header" class="container">
            <div id="logo">
                <h1><a href="/">MultiNest</a></h1>
            </div>
			<div id="menu">
				<ul>
					<li><a href="/">Opis</a></li>
					<li><a href="/submit">Dane wejściowe</a></li>
					<li><a href="/monitor">Monitor obliczeń</a></li>
					<li><a href="/output">Wyniki</a></li>
				</ul>
            </div>
		</div>
		<!-- end #header -->
		<div id="page">
            <div id="sidebar">
                <h2>Status Aplikacji</h2>
                <div id="status" class={{state.type}}>{{state.desc}}</div>
                <div id="messages" class={{state.type}}>{{state.msg}}</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
            </div>
			<!-- end #sidebar -->
			<div id="content">
{% block content %}
{% endblock %}
			</div>
            <!-- end #content -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
	</div>
</div>
<div id="footer-content">
	<div id="footer">
    <div id="footer_line"></div>
    <img height="109px" src="static/loga.jpg" width="980px" />
    <p> Projekt wspófinansowany ze środków Europejskiego Funduszu Rozwoju Regionalnego<br> w ramach Programu Operacyjnego Innowacyjna Gospodarka </p>
    <p>Design by <a href="http://www.freecsstemplates.org">FCT</a> & CIŚ.</p>
</div>
</div>
<!-- end #footer -->
</body>
</html>
