{% extends "layout.html" %}
{% block content %}
<div class="post">
    <h2 class="title">Wyniki</h2>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
        <p>
        <a href="{{url}}/conditionals_y_x.png">
            <img src="{{url}}/conditionals_y_x.png" alt="Conditionals" width="620">
        </a>
        </p>
        <p>
        <a href="{{url}}/marginals_multinest.png">
            <img src="{{url}}/marginals_multinest.png" alt="Marginals" width="620">
        </a>
        </p>
    </div>
</div>
<!--
<div style="post_line"></div>
-->
{% endblock %}
